@import '../../../styles/main.scss';

.tableCard {
  overflow: hidden;
}

.tableHeader {
  padding: 1rem 1.5rem;
  border-color: $mercury;
  color: $dark;
  @include font-inter-600;
}

.tableBody {
  padding: 0 !important;
}

.thead {
  th {
    @include font-inter-600;
    font-size: $font-size-sm;
    color: $dark;
    border-color: $mercury;
  }
}

.tbody {
  tr {
    border-bottom: 0.5px solid $mercury;
    
    &:hover {
      background-color: $snow-drift;
    }
    
    td {
      @include font-inter-400;
      font-size: $font-size-sm;
      color: $dark;
      vertical-align: middle;
    }
  }
}

.tableMobile {
  display: none;
}

.mobileRow {
  border-color: $mercury;
  
  &:last-child {
    border-bottom: none;
  }
}

.mobileItem {  
  &:last-child {
    margin-bottom: 0;
  }
}

.mobileLabel {
  @include font-inter-400;
  font-size: $font-size-xs;
  color: $mountain-mist;
}

.mobileValue {
  @include font-inter-400;
  font-size: $font-size-xs;
  color: $dark;
}

// Media queries
@include media-breakpoint-down(lg) {
  .tableDesktop {
    display: none;
  }
  
  .tableMobile {
    display: block;
  }
}
