@import '../../../styles/variables.scss';
@import '../../../styles/font-mixins.scss';

.cardComponent {
  border-color: $gainsboro;
  box-shadow: $box-shadow-default;
}

.cardTitle {
  @include font-inter-600;
  color: $caviar;
}
