@import '../../../styles/main.scss';

.cardComponent {
  background-color: $white;
  border-radius: 8px !important;
  border: 0.5px solid $gainsboro !important;
  box-shadow: $box-shadow-default;
}

.cardTitle {
  @include font-inter-600;
  color: $caviar;
  background-color: transparent !important;
}
