@import '../../../styles/main.scss';

.dataItemCol {
  min-width: 180px;
}

.dataItem {
  border-color: $mercury !important;

  &:last-child {
    border-bottom: none !important;
  }

  &.dataItemRow {
    background-color: $snow-drift !important;
  }

  .dataItemTitle {
    @include font-inter-400;
    font-size: $font-size-xxs;
    color: $mountain-mist;
  }

  .dataItemValue {
    @include font-inter-600;
    font-size: $font-size-sm;
    color: $caviar;
  }
}
