@import '../../../styles/main.scss';

.dataItemCol {
  min-width: 180px;
}

.dataItem {
  padding: 10px 0 10px 15px !important;
  border-bottom: 0.5px solid $mercury !important;
  background-color: transparent !important;

  &:last-child {
    border-bottom: none !important;
  }

  &.dataItemRow {
    border-bottom: none !important;
    padding: 15px !important;
    border-radius: 4px;
    background-color: $snow-drift !important;
  }

  .dataItemTitle {
    @include font-inter-400;
    font-size: $font-size-xxs;
    color: $mountain-mist;
  }

  .dataItemValue {
    @include font-inter-600;
    font-size: $font-size-sm;
    color: $caviar;
  }
}

.dataTileChildren {
  padding-top: 5px;
}
