@import '../../../styles/main.scss';

.chart {
  background: transparent;
  border-radius: 8px;

  .chart-title {
    @include font-inter-600;
    font-size: $font-size-base;
    color: $caviar;
    margin: 0 0 20px;
  }

  .custom-tooltip {
    background-color: $baltic-sea;
    border-radius: 8px;
    padding: 8px 12px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);

    .tooltip-label {
      margin: 0 0 5px;
      font-size: $font-size-xs;
      @include font-inter-400;
      line-height: 1.454em;
      color: $white-smoke;
    }

    .tooltip-value {
      @include font-inter-400;
      font-size: $font-size-xs;
      line-height: 1.454em;
      color: $white-smoke;
    }
  }
} 