@import '../../../styles/main.scss';

.badgeComponent {
  color: $white;
}

.primaryBadge {
  background-color: $sky-blue;
}

.dangerBadge {
  background-color: $red;
}

.badgeContent {
  @include font-proxima-nova-400;
  font-size: $font-size-xs;
}

.badgeTitle {
  @include font-proxima-nova-800;
}
