@import '../../../styles/variables.scss';

.wrapper {
  font-size: 0.875rem;
}

.networkItem {
  div {
    padding: 0.5rem 0rem;
  }

  &:global(.active) {
    background-color: transparent;
    color: $dark;
    cursor: not-allowed;

    &:active {
      background-color: transparent;
    }
  }

  &:global(:active) {
    background-color: $primary;
  }

  & + & {
    div {
      border-top: 1px solid $border-light;
    }
  }
}

.dropdownToggle {
  transition: all 0.3s ease;

  svg {
    transition: all 0.3s ease;
  }

  &:hover {
    background-color: $primary !important;
    color: $white !important;

    svg {
      color: $white !important;
    }
  }
}
