@import '../../styles/main.scss';

.searchContainer {
  background-image: url('../../assets/bg-dig-field.jpeg');
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: overlay;
}
